#root {
    --edit-sections-width: 320px;
}

button {
    width: 25px;
    border: none;
    padding: 3px 0px 3px 3px;
    cursor: pointer;
}

.PersonalInfoEditSection {
    margin-bottom: 20px;
    padding: 0px 0px 15px 0px;
    border: 2px solid grey;
    border-radius: 5px;
    width: var(--edit-sections-width);
}

.WebLabelDiv {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.WebLabelDiv button {
    width: 25px;
    height: 26px;
    border: none;
    padding: 3px;
    align-self: flex-end;
}

.WebsiteLinksDiv {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    width: var(--edit-sections-width);
}

.WebInputFields {
    display: flex;
}

.EducationEditDiv {
    display: flex;
    flex-direction: column;
    padding: 5px 20px 15px;
    border: 2px solid grey;
    border-radius: 5px;
    background-color:rgb(223, 223, 223);
    width: var(--edit-sections-width);
    margin-bottom: 20px;
}

.EducationEditDiv button {
    background-color: rgba(223, 223, 223, 0); /* Transparent bg color*/
    align-self: flex-end;
    padding: 0;
    margin-top: 2px;
}

.EducationHeader {
    width: var(--edit-sections-width );
    display: flex;
    justify-content: space-between;
}

.ResumeEditHeadings {
    margin-left: 10px;
}
