.ResumeSection {
    border-radius: 4px;
    box-shadow: 1px 1px 2px rgb(162, 162, 162);
    /* height: 100vh; */
    margin: 20px 50px;
    background-color: white;
    padding: 40px;

}

.PersonalDetails {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 2.5em;
    line-height: 1.1;
}

.NameDes h3 {
    margin: 5px 5px 5px 2px;
    color: #8596a5;
}

.EmailIcon {
    margin-right: 5px;
}

.IconTextContainer {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 5px;
}

.IconTextContainer:nth-of-type(3) {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
}

.IconTextContainer .ContactLinks {
    text-decoration: none;
    color: #213547;
    display: flex;
    align-items: center;
}

.IconTextContainer .ContactLinks:hover {
    color: #747bff;
}

.ResumeDetails {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 60px;
}

.EducationSection h2 {
    color: #747bff;
}

.EducationDetails {
    margin: 10px 0 20px;
}

.RoleYearDiv {
    display: flex;
    justify-content: space-between;
    width: 450px;
}

.ExpDetails {
    margin: 10px 0 20px 3px;
}

.ExpDetails .achievements {
    margin-top: 20px;
}
