.ExpEditDiv {
    display: flex;
    flex-direction: column;
    padding: 5px 20px 15px;
    border: 2px solid grey;
    border-radius: 5px;
    background-color:rgb(223, 223, 223);
    width: var(--edit-sections-width);
    margin-bottom: 20px;
}

.ExpEditDiv button {
    background-color: rgba(223, 223, 223, 0); /* Transparent bg color*/
    align-self: flex-end;
    padding: 0;
    margin-top: 2px;
}

.ExpHeader {
    width: var(--edit-sections-width );
    display: flex;
    justify-content: space-between;
}

textarea {
    margin-top: 5px;
    padding-left: 5px;
    font-size: 14px;
    height: 100px;
    width: 250px;
    border: 0.17em solid #b3b3b3;
    border-radius: 0.3em;
    outline: none;
}