#root {
    width: 100%;
    /* height: 100vh; */
    padding: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.MainSection {
    display: flex;
    /* height: 100vh; */
}

.EditSection {
    display: flex;
    flex-direction: column;
    width: 490px;
    /* border: 1px solid black; */
}

.MainContent {
    width: 100%;
    background-color: rgb(226, 226, 226);
    box-shadow: 1px 1px 11px grey;
}
